#Nombre del workflow
name: CI - UI (Serenity + Maven)

#Cuándo se ejecuta (triggers)
on:
  push:
    branches: [ main, develop, feature/** ]
  pull_request:
    branches: [ main, develop ]

#Definición del trabajo principal (job)
jobs:
  build-test-ui:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    #Pasos del pipeline (steps)

    steps:
      - name: Checkout
        uses: actions/checkout@v4

        #Configurar Java

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
          cache: maven

        #Instalar Google Chrome

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

        #Mostrar la versión de Chrome

      - name: Show Chrome version
        run: chrome --version

      #Cachear WebDriverManager      
      # - name: Cache WebDriverManager
      #   uses: actions/cache@v4
      #   with:
      #     path: ~/.cache/selenium
      #     key: wdm-${{ runner.os }}-cache

        #Compilar y ejecutar pruebas (headless)

      - name: Build & Test (UI headless)
        run: |
          mvn -B -U clean verify \
            -Dwebdriver.driver=chrome \
            -Dchrome.switches="--headless=new --no-sandbox --disable-dev-shm-usage --window-size=1920,1080" \
            -Dserenity.outputDirectory=target/site/serenity \
            -Dserenity.take.screenshots=AFTER_EACH_STEP
        env:
          
          # BASE_URL: "https://opensource-demo.orangehrmlive.com"
          # UI_USER: "Admin"
          # UI_PASS: "admin123"
          MAVEN_OPTS: "-Xmx1g"
        
        #Subir los reportes como artefactos descargables

      - name: Publicar reportes (Serenity + Surefire)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: serenity-ui-report
          path: |
            target/site/serenity/**
            target/serenity/**
            target/surefire-reports/**

